p {
  text-align: center;
  font-family: courier;
  font-size: 25px;
}

h1 {
  font-family: courier;
  font-size: 30;
  text-align: center;
}

a {
  font-family: courier;
  font-size: 25px;
  color: black;
}

body {
  background-color: tomato